@model CreateRunInfoDTO

<section class="input-form">
    <form asp-action="AddItem">
        <div class="mb-2">
            <input asp-for="Time" class="form-control" placeholder="time" type="number" />
        </div>
        <div class="mb-2">
            <input asp-for="Distance" class="form-control" placeholder="distance" type="number" />
        </div>
        <div class="mb-2">
            <input asp-for="Date" class="form-control" placeholder="date" type="date" />
        </div>
        <aside>
            <button type="submit" class="btn btn-outline-secondary">Add</button>
        </aside>
    </form>
</section>
