@using CRUD_Design.Models.DTO.RunInfo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DateSearchDTO
@{
    var message = ViewBag.message;
}

<h2>Search</h2>
<form asp-action="Entries" method="get">

    <div class="mb-2">
        <label class="mb-1">Date From</label>
        <input type="text" class="form-control mb-2" required placeholder="Date From" onfocus="(this.type='date')" onfocusout="(this.type='text')" asp-for="dateFrom" />
    </div>
    <div class="mb-2">
        <label class ="mb-1">Date To</label>
        <input type="text" class="form-control mb-2" placeholder="Date to" onfocus="(this.type='date')" onfocusout="(this.type='text')" asp-for="dateTo" />
    </div>
    <div class="mb-2">
        <label class="mb-1">Distance</label>
        <input type="number" class="form-control mb-2" placeholder="Enter distance.." asp-for="distance" />
    </div>
    <div class="mb-2">
        <label class="mb-1">Time</label>
        <input type="number" class="form-control " placeholder="Enter time.." asp-for="time" />
    </div>
    

    @if(message != "" && message != null){
        <div class="alert alert-danger" role="alert">
            @message
        </div>
    }


    <input type="submit" class="btn btn-outline-primary" value="Search" />
</form>
