@model ApiUserDto
@{
    ViewData["Title"] = "Register Site";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/Register.css")" />
</head>

<div>
    <h2>Register User</h2>
    <form asp-action="Register" class="main-form" method="post">
        <input type="email" class="form-control mb-2" placeholder="Email" asp-for="Email" />
        <input type="password" class="form-control mb-2" placeholder="Password" asp-for="Password" />
        <input type="text" class="form-control mb-2" placeholder="First name" asp-for="FirstName" />
        <input type="text" class="form-control mb-2" placeholder="Last name" asp-for="LastName" />

        <select id="Role" class="form-control mb-2" asp-for="Role">
            @foreach(string role in @ViewBag.Roles)
            {
                       <option value=@role selected="@(role == "USER")">@role</option>
            }
     </select>
        <input id="custom-button" type="submit" class="btn btn-outline-secondary" value="Register" />
    </form>
</div>