@model ApiUserDto
@{
    ViewData["Title"] = "Register Site";
}

<div>
    <form asp-action="Register" method="post">
      <input type="email" placeholder="email" asp-for="Email" />
    <input type="password" placeholder="password" asp-for="Password"/>
    <input type="text" placeholder="first name" asp-for="FirstName" />
    <input type="text" placeholder="last name" asp-for="LastName" />
 
          <select id="Role" asp-for="Role" >
            @foreach(string role in @ViewBag.Roles)
            {
                       <option value=@role selected="@(role == "USER")">@role</option>
            }
     </select>
    <input type="submit" value="Register" />   
</form>
</div>